<button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="color: dodgerblue;">x</button>
<span style="padding-top: 20px; font-size: 25px; text-align: center; "></span>
<style>
    *{
        background-color: black;
        
        
    }
</style>
<form action="">
    <div class="row">
        <div class="col-md-4">
            
            <input type="number" min="1">
        </div>
        <div class="col-md-4" >
            <input type="submit" value="Add to Cart">
        </div>

    </div>
    
</form>